:root {
      --background-color: lightskyblue;
      --text-color: navy;
}
html {
      font-size: 32.5%;
}

body {
      background-color: var(--background-color);
      color: var(--text-color);
      margin: 0 auto;
      max-width: 1200px;
      font-size: 2rem;
}

h1 {
      font-size: 6rem;
      text-align: center;
      margin-bottom: 6rem;
}

.play-game {
      text-align: center;
      margin-bottom: 6rem;
}
.play-game button {
      padding: .5rem 1rem;
}

.guesses {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      gap: 2rem 6rem;
}

.user-guess,
.opp-guess {
      flex: 1 0 40%;
      max-width: 50%;
}

.user-guess h2,
.opp-guess h2 {
      font-size: 4rem;
      text-align: center;
      margin-bottom: 4rem;
}

.user-guess p,
.opp-guess p {
      text-align: center;
      font-size: 15rem;
}

.results {
      text-align: center;
}

.games,
.choices {
      padding: 3rem 0;
      line-height: 1.5;
}

@media (min-width: 700px) {
      html {
            font-size: 62.5%;
      }
}
